@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #eeeeee;
  --text-color: #000000;
  --main-color: #7a1cac;
  --highlight-color: rgba(255, 255, 255, 0.9);
  --nav-top: rgba(0, 0, 0, 0.4);
  --transition-duration: 0.5s; /* Add this */
  --transition-timing-function: ease-in-out; /* Add this */
}
.dark-theme {
  --bg-color: #000000;
  --second-bg-color: #111111;
  --text-color: #ffffff;
  --main-color: #7a1cac;
  --highlight-color: rgba(0, 0, 0, 0.9);
  --nav-top: rgba(255, 255, 255, 0.4);
  --transition-duration: 0.5s; /* Add this */
  --transition-timing-function: ease-in-out; /* Add this */
}
body,
.header,
.navbar a,
.logo,
.heading,
.home,
.home-content h1,
.home-content h3,
.home-content p,
.btn,
.skills .container,
.skills .category-heading,
.slide,
.about-box,
.about-info h4,
.about-info p {
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
}
/* Loader Container */
#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.main-page {
  display: none;
}
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--text-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--main-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  background: var(--highlight-color);
  filter: drop-shadow(0px 0px 5px var(--nav-top));
  /* box-shadow: 0 0 5px var(--text-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3.5rem;
  color: var(--main-color);
  font-weight: 800;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px black;
  transition: 0.5s ease;
}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a.active,
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}
@media (max-width: 995px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-bottom-left-radius: 2rem;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid var(--nav-top);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .navbar a:hover,
  .navbar a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--main-color);
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.theme-message {
  display: none;
  position: fixed;
  top: 80px;
  left: 20px;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.theme-message.show {
  display: block;
  opacity: 1;
}

.theme-message::after {
  content: "";
  position: absolute;
  top: -10px; /* Position the arrow just above the box */
  right: 20px; /* Align arrow with the box */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--main-color);
}

.heading {
  color: var(--main-color);
  margin-top: 3.5rem;
  text-align: center;
  font-size: 7rem;
  padding-bottom: 2rem;
  text-shadow: 2px 2px var(--text-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text-color);
  transition: 0.5s ease;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: var(--bg-color);
}

.home-content .fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  transition-delay: var(--delay);
}

.home-content.loaded .fade-in {
  opacity: 1;
}

.home .home-content h1 {
  color: var(--text-color);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: var(--main-color);
}

.home-content h3 {
  color: var(--text-color);
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home img {
  border-radius: 50%;
}

.home img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--text-color);
  cursor: pointer;
}
.home-content {
  overflow: hidden;
}

.home-content p {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  box-shadow: 2px 2px var(--main-color);
  font-size: 2rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0.6rem;
  transition: 0.3s ease;
}

.social-icon a:hover {
  color: white;
  transform: scale(1.3) translateY(-2px);
  background: var(--main-color);
  box-shadow: 0 0 25x var(--main-color);
}

.btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  box-shadow: 2px 2px var(--main-color);
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 50px;
  color: var(--main-color);
  padding: 1rem;
  margin: 1rem 1.5rem 3rem 0.6rem;
  transition: 0.3s ease;
}

.btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.btn.fade-in,
.social-icon.fade-in {
  opacity: 0;
  transform: translatex(100px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  transition-delay: var(--delay);
}

.home-content.loaded .social-icon.fade-in,
.home-content.loaded .btn.fade-in {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}
@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 0rem 4rem;
  }
  .home .home-content .h3 {
    font-size: 2.5rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home img {
    width: 70vw;
    margin-top: 4rem;
  }
  .theme-message {
    top: 60px;
    left: 10px;
  }
  .theme-message::after {
    left: 20px;
  }
}

/* about me */

.about {
  background: var(--second-bg-color);
  background-image: url("assets/img/zoro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.about-container {
  align-items: center;
}

.about-box {
  background: var(--main-color);
  min-height: auto;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0.3rem;
  width: 50%;
  margin: 0;
}

.about-box .about-info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.about-info h4 {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.about-info p,
.about-info span {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 400;
  margin: auto;
}

@media (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }
  .about {
    padding-bottom: 7rem;
  }
}
@media (max-width: 895px) {
  .about {
    background-image: none;
  }

  .about-box {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .about-info p {
    margin: 0;
  }
  .home .home-content h1 {
    font-size: 3rem;
  }
  .home-content h1 span {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 2.5rem;
  }
}
#skills {
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}

.skills-category {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 4px 4px var(--text-color);
  transition: transform 0.3s ease;
}

.skills-category:hover {
  transform: translateY(-10px);
}

.skills-category h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 5px;
  text-align: center;
}
.skills-category h3 i {
  font-size: 2.5rem;
}
.skills-category ul {
  list-style: none;
  padding: 0;
}

.skills-category li {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem 0;
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .heading {
    text-shadow: none;
    -webkit-text-stroke-width: 1px;
  }
  .skills-category h3 {
    font-size: 1.8rem;
  }
  .skills-category h3 i {
    font-size: 1.5rem;
  }

  .skills-category li {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .skills-container {
    grid-template-columns: 1fr;
  }

  .skills-category h3 {
    font-size: 1.6rem;
  }

  .skills-category li {
    font-size: 1.3rem;
  }
}

/* projects */

.project {
  background: var(--second-bg-color);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.project-box {
  background: var(--main-color);
  height: auto;
  min-height: 400px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid var(--text-color);
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}

.project-box .project-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.project-box .project-info img {
  max-width: 100%;
  min-height: 150px;
  max-height: 210px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-box .project-info h4 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 10px 0;
}

.project-info .desc {
  display: none;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: justify;
}

.show-description-btn {
  background: var(--bg-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.show-description-btn:hover {
  border: 2px solid var(--bg-color);
  background: var(--main-color);
  color: var(--bg-color);
}

.project-info .proj-btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--bg-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.project-info .proj-btn:hover {
  border: 2px solid var(--bg-color);
  background: var(--main-color);
  color: var(--bg-color);
}

@media (max-width: 895px) {
  .project {
    padding-bottom: 7rem;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-box {
    width: 90%;
  }
  .project h2 {
    margin-bottom: 3rem;
  }
  .project-info h4 {
    font-size: 1.2rem;
  }
  .project-box .project-info img {
    height: auto;
  }

  .project-info p {
    font-size: 0.9rem;
  }

  .project-info .proj-btn {
    padding: 5px 10px;
  }
}
@media (max-width: 550px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-box {
    min-height: 100px;
  }

  .heading {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/* Education */

.education {
  background: var(--bg-color);
}

.education .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.education .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: var(--text-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2px;
}

.education .container {
  padding: 10px 40px;
  position: relative;
  background: inherit;
  width: 50%;
}

.education .container::after {
  content: "\1F393";
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  right: -17px;
  background: var(--second-bg-color);
  border: 4px solid var(--main-color);
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  color: var(--bg-color);
}

.education .left {
  left: 0;
}

.education .right {
  left: 50%;
}

.education .left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--main-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--main-color);
}

.education .right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--main-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--main-color);
}

.education .right::after {
  left: -16px;
}

.education .content {
  background: var(--main-color);
  position: relative;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.education .content .tag {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.education .content .decs {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 1rem;
}

.education .content .tag h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
}

.education .content .decs p {
  font-size: 1.3rem;
  text-align: left;
  margin-top: 2rem;
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .education .timeline {
    margin-top: 2rem;
  }
  .education .timeline::after {
    left: 31px;
  }
  .education .container {
    width: 100%;
    padding-left: 8rem;
    padding-right: 2rem;
  }
  .education .container::after {
    font-size: 2.2rem;
  }
  .education .container::before {
    left: 61px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
  }
  .education .left::after {
    left: 15px;
  }
  .education .right::after {
    left: 15px;
  }
  .education .right {
    left: 0%;
  }
}

/* contact */

.contact {
  background: var(--second-bg-color);
  background-image: url("assets/img/sanji.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--main-color);
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 2px solid var(--main-color);
  box-shadow: 2px 2px var(--main-color);
  margin: 1rem 0;
  resize: none;
}

.contact form .btn {
  margin-top: 1rem;
}
.contact form p {
  font-size: 2rem;
  color: white;
  margin: 1rem;
}

/* Footer */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background: var(--main-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--text-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-2px);
  background: var(--text-color);
  color: var(--main-color);
}

footer .copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}
/* Scroll to Top Button Styling */
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 15px;
  border: 3px solid var(--main-color);
  outline: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
}

#scrollTopBtn:hover {
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .about {
    padding-bottom: 7rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 895px) {
  .about h2 {
    margin-bottom: 3rem;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact {
    background-image: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
